/* you can add your own styles in this file */

body {
  /* the var(--my-variable) syntax is a css variable
     https://developer.mozilla.org/en-US/docs/Web/CSS/Using_CSS_variables
     they aren't properly supported by all browsers yet so postcss turns them into normal css for you
  */
  font-family: var(--sans-serif);
  font-size: var(--font-size-3);
  color: var(--brand-teal);
  margin: 0;
  font-weight: 400;
}

button {
  font-family: var(--sans-serif);
}

h1 {
  font-family: var(--serif);
  font-size: var(--font-size-subheadline);
  font-weight: 700;
}

.main {
  background: linear-gradient(180deg, #FFFFFF 0%, rgba(242, 242, 242, 0.9) 100%);
}

.w6 {
  width: var(--width-6);
}
.w7 {
  width: var(--width-7);
}
.w8 {
  width: var(--width-8);
}
.w9 {
  width: var(--width-9);
}
.w10 {
  width: var(--width-10);
}

.h6 {
  height: var(--height-6);
}
.h7 {
  height: var(--height-7);
}
.h8 {
  height: var(--height-8);
}
.h9 {
  height: var(--height-9);
}
.h10 {
  height: var(--height-10);
}

.bg-bookbug {
  background:url('assets/bookbug.png') no-repeat;
  background-color: white;
  background-size: 80%;
  background-position: center;
}

.schoolTrip {
  background:url('assets/bag.svg') no-repeat;
  background-color: white;
  background-size: 60%;
  background-position: center;
}

.schoolTrip-checked {
  background:url('assets/bookbug.png') no-repeat;
  background-color: var(--brand-teal);
  background-size: 60%;
  background-position: center;
}

.book {
  background:url('assets/bag.svg') no-repeat;
  background-color: white;
  background-size: 60%;
  background-position: center;
}

.book-checked {
  background:url('assets/bookbug.png') no-repeat;
  background-color: var(--brand-teal);
  background-size: 60%;
  background-position: center;
}.computer {
  background:url('assets/bag.svg') no-repeat;
  background-color: white;
  background-size: 60%;
  background-position: center;
}

.computer-checked {
  background:url('assets/bookbug.png') no-repeat;
  background-color: var(--brand-teal);
  background-size: 60%;
  background-position: center;
}.wifi {
  background:url('assets/bag.svg') no-repeat;
  background-color: white;
  background-size: 60%;
  background-position: center;
}

.wifi-checked {
  background:url('assets/bookbug.png') no-repeat;
  background-color: var(--brand-teal);
  background-size: 60%;
  background-position: center;
}.event {
  background:url('assets/bag.svg') no-repeat;
  background-color: white;
  background-size: 60%;
  background-position: center;
}

.event-checked {
  background:url('assets/bookbug.png') no-repeat;
  background-color: var(--brand-teal);
  background-size: 60%;
  background-position: center;
}.bookbug {
  background:url('assets/bag.svg') no-repeat;
  background-color: white;
  background-size: 60%;
  background-position: center;
}

.bookbug-checked {
  background:url('assets/bookbug.png') no-repeat;
  background-color: var(--brand-teal);
  background-size: 60%;
  background-position: center;
}