/* you can add your own styles in this file */

body {
  /* the var(--my-variable) syntax is a css variable
     https://developer.mozilla.org/en-US/docs/Web/CSS/Using_CSS_variables
     they aren't properly supported by all browsers yet so postcss turns them into normal css for you
  */
  font-family: var(--sans-serif);
  font-size: var(--font-size-3);
  color: var(--brand-teal);
  margin: 0;
  font-weight: 400;
}

button {
  font-family: var(--sans-serif);
}

h1 {
  font-family: var(--serif);
  font-size: var(--font-size-subheadline);
  font-weight: 700;
}

.main {
  background: linear-gradient(180deg, #FFFFFF 0%, rgba(242, 242, 242, 0.9) 100%);
  min-height: 667px;
  min-width: 375px;
  max-height: 736px;
  max-width: 414px;
}
.main--red {
  background: var(--red);
  max-height: 700px;
  max-width: 400px;
}

.w6 {
  width: var(--width-6);
}
.w7 {
  width: var(--width-7);
}
.w8 {
  width: var(--width-8);
}
.w9 {
  width: var(--width-9);
}
.w10 {
  width: var(--width-10);
}

.h6 {
  height: var(--height-6);
}
.h7 {
  height: var(--height-7);
}
.h8 {
  height: var(--height-8);
}
.h9 {
  height: var(--height-9);
}
.h10 {
  height: var(--height-10);
}

/*folded page*/

.homeContainer {
  position: relative;
  box-shadow:0 1px 0 rgba(0,0,0,.2);
}

.corner-right {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 1.5em;
  height: 1.5em;
  background-color: #aedeef;
}

.homeContainer .corner-right .corner-right-triangle {
  position: absolute;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 0 0 1.5em 1.5em;
  border-color: transparent transparent #00b5d6 transparent;
}

/* Icon Stuff */

.iconGrid {
  display: grid;
  /*justify-items: center;*/
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 4fr 4fr 4fr;
  align-items: center;
}

.bg-bookbug {
  background:url('assets/bookbug.png') no-repeat;
  background-color: white;
  background-size: 80%;
  background-position: center;
}

.school-trip {
  background:url('assets/schoolTrip.svg') no-repeat;
  background-color: rgba(44, 106, 138, 0.09);
  background-size: 60%;
  background-position: center;
}

.school-trip-checked {
  background:url('assets/schoolTrip-checked.svg') no-repeat;
  background-color: var(--brand-teal);
  background-size: 60%;
  background-position: center;
}

.borrow-a-book {
  background:url('assets/book.svg') no-repeat;
  background-color: rgba(44, 106, 138, 0.09);
  background-size: 60%;
  background-position: center;
}

.borrow-a-book-checked {
  background:url('assets/book-checked.svg') no-repeat;
  background-color: var(--brand-teal);
  background-size: 60%;
  background-position: center;
}

.use-a-computer {
  background:url('assets/computer.svg') no-repeat;
  background-color: rgba(44, 106, 138, 0.09);
  background-size: 60%;
  background-position: center;
}

.use-a-computer-checked {
  background:url('assets/computer-checked.svg') no-repeat;
  background-color: var(--brand-teal);
  background-size: 60%;
  background-position: center;
}

.wifi {
  background:url('assets/wifi.svg') no-repeat;
  background-color: rgba(44, 106, 138, 0.09);
  background-size: 60%;
  background-position: center;
}

.wifi-checked {
  background:url('assets/wifi-checked.svg') no-repeat;
  background-color: var(--brand-teal);
  background-size: 60%;
  background-position: center;
}

.event {
  background:url('assets/event.svg') no-repeat;
  background-color: rgba(44, 106, 138, 0.09);
  background-size: 60%;
  background-position: center;
}

.event-checked {
  background:url('assets/event-checked.svg') no-repeat;
  background-color: var(--brand-teal);
  background-size: 60%;
  background-position: center;
}

.bookbug {
  background:url('assets/question.svg') no-repeat;
  background-color: rgba(44, 106, 138, 0.09);
  background-size: 60%;
  background-position: center;
}

.bookbug-checked {
  background:url('assets/question-checked.svg') no-repeat;
  background-color: var(--brand-teal);
  background-size: 60%;
  background-position: center;
}

.mic {
  background:url('assets/mic.svg') no-repeat;
  background-size: 14%;
  background-position: 14% center;
}

.mic-checked {
  background:url('assets/mic-checked.svg') no-repeat;
  background-color: var(--red);
  background-size: 14%;
  background-position: 14% center;
}

.write {
  background:url('assets/write.svg') no-repeat;
  background-size: 17%;
  background-position: 11% center;
}

.write-checked {
  background:url('assets/write-checked.svg') no-repeat;
  background-color: var(--brand-teal);
  background-size: 17%;
  background-position: 11% center;
}

.sent {
  background:url('assets/sent.svg') no-repeat;
  background-color: var(--red);
  background-size: 80%;
  background-position: center;
}

.send {
  background:url('assets/send.svg') no-repeat;
  background-size: 17%;
  background-position: 11% center;
}


.bg-brand {
  background-color: var(--brand-teal);
}
.brand {
  color: var(--brand-teal);
}
.b--brand {
  border-color: var(--brand-teal);
}

.mw5half {
  max-width: var(--max-width-5half);
}

.sans {
  font-family: var(--sans-serif);
}

.mh-100 {
  min-height: 100vh;
}

.star {
    cursor: pointer;
    display: inline-block;
    width: 2.5rem;
    height: 2.5rem;
    background: url('assets/star.svg') no-repeat;
    background-size: 100%;
    background-position: center;
    border: none;
    padding: 0.5rem;
    margin: 0.25rem;
}

.star-checked {
    cursor: pointer;
    display: inline-block;
    width: 2.5rem;
    height: 2.5rem;
    background: url('assets/checkedstar.svg') no-repeat;
    background-size: 100%;
    background-position: center;
    border: none;
    padding: 0.5rem;
    margin: 0.25rem;;
}

.bg-blue {
  background-color: var(--brand-teal);
}

.date {
  color: var(--red);
}
